<!DOCTYPE html>
<html>
<head>
  <title>OS Information</title>
</head>
<body>
  <h1>Operating System</h1>
  <p>Name: {{ ansible_distribution }}</p>
  <p>Version: {{ ansible_distribution_version }}</p>
</body>
</html>
